@model ANW.ComposerApp.Models.Composer

@{
    ViewBag.Title = "Awards!";
}

<h2 class="text-center"><small>@Model.Title</small> @Model.FirstName @Model.LastName <small>won the</small> <b>@Model.Awards</b> <small>award</small></h2>